.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  border: 5px solid #dec79b;
}

.totalCases {
  color: blue !important;
}

.totalNewCases {
  color: rgba(199, 131, 4, 0.911) !important;
}

.totalDeaths {
  color: red !important;
}

.totalTests {
  color: #41c518 !important;
}
