* {
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.822);
}

.container {
  display: grid;
  grid-template-areas:
    'card card card card card'
    '. . dropdown . .'
    'charts charts charts charts charts';
  align-content: center;
  /* margin: 2% 15%; */
  padding: 0% 0%;
  align-items: center;
  align-content: center;
}

@media (max-width: 770px) {
  .container {
    grid-template-areas:
      '. . card . .'
      '. . dropdown . .'
      '. charts charts charts .';

    margin: 0;
  }
  .charts {
    margin: 10%;
  }
  .card {
    margin: 0% 10%;
  }
}
@media (max-width: 650px) {
  .container {
    grid-template-areas:
      '. card .'
      '. dropdown .'
      'charts charts charts';
  }
  .charts {
    margin: 10%;
  }
  .card {
    margin: 0% 10%;
  }
}

.dropdown {
  grid-area: dropdown;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2% 2% !important;
  border: 1px solid #dec79b;
  background: whitesmoke;
}

.card {
  grid-area: card;
}

.charts {
  grid-area: charts;
  margin: 2% 20%;
  padding: 2% 2%;
  border: 1px solid #dec79b;
}
